body {
	background-image: url(../images/west-background2.jpg);
	background-repeat: no-repeat;
}

.jumbotron {
	margin-top: 30px;
	border-style: solid;
	border-width: 8px;
	padding: 20px;
}

.jumbotron h1 {
	font-size: 90px;
	font-family: 'Rye', cursive;
	margin-top: 0px;
	padding-bottom: 10px;
}

.jumbotron h3, h4 {
	font-family: 'Berkshire Swash', cursive;
}

.visibleLetter {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	width: 30px;
	margin-left: 3px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	height: 50px;
}

#display span {
	padding-left: 10px;
}

.hiddenLetter {
	visibility: hidden;
}
.hiddenLetter:before {
	visibility: visible;
	content: "_";
	padding: 5px;
}

.filler {
	color: white !important;
	text-shadow: none !important;
}

.label {
	padding: 3px 7px 3px 7px;
	font-size: 15px;
}

.panel {
	font-size: 20px;
	border-width: 8px;
	border-radius: 10px;
}

.panel-heading, .restart-text  {
	font-family: 'Berkshire Swash', cursive;
}

.panel-body {
	font-family: 'Itim', cursive;
}

.panel h1 {
	margin-top: 0;
}

.panel h3 {
	font-size: 20px;
}

.trophy-color {
	color: gold;
	text-shadow: 1px 1px #c99536;
}

.label {
	font-family: 'Rye', cursive;
}

.btn {
	width: 155px;
    height: 50px;
    font-size: 22px;
    box-shadow: 3px 3px 5px gray;
    font-family: 'Rye', cursive;
}