.visibleLetter {
	 display: inline-block;
	 font-size: 20px;
	 margin: 5px;
	 padding: 5px;
	 width: 30px;
}

.hiddenLetter {
	visibility: hidden;
}
.hiddenLetter:before {
	visibility: visible;
	font-size: 20px;
	content: "_";
	border-style: solid;
	border-color: black;
	padding: 5px;
}